fastapi==0.111.0
uvicorn==0.30.1
pydantic==2.8.2
scikit-learn==1.5.1
numpy==1.26.4
pandas==2.2.2
networkx==3.3
python-louvain==0.16
scipy==1.13.1
redis==5.0.7
kafka-python-ng==2.2.2
psycopg2-binary==2.9.9
streamlit==1.36.0
pyvis==0.3.2
plotly==5.22.0
requests==2.32.3
